:root{
    --bgmain:#113f67;
    --bgsec:#a2a8d3;
    --bgthird:#e7eaf6;
    --bgfour:rgb(224, 225, 226);
}
body{
    margin: 0;
    padding: 0;
}
header{
    background: var(--bgmain);
    color: var(--bgthird);
    width: 100%;
}
.nav{
    display: flex;
    align-items: center;
    padding: 0px 9px;
    justify-content: center;
    gap: 10px;
}
.nav h1{
    font-size: 2.3rem;
}
.navlink{
    display: flex;
    gap: 0.6rem;
    margin-left: auto;
}
.navs{
    background-color: #38598b;
    padding: 1.6rem 0.9rem;
    text-decoration: none;
    color:var(--bgthird);
    border-radius: 0.4rem;
}
.herobackground{
    min-height: 30rem;
    background: var(--bgmain);
    background-size: cover;
    width: 100%;
    color: var(--bgthird);
    box-sizing: border-box;
    padding-top: 5rem;
}
.hero{
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.heroitem{
    box-sizing: border-box;
    height: 20rem;
    flex: 1 1 0;
    text-align: center;
    color: var(--bgthird);
}
.heroitem .signupbutton{
    padding: 0.9rem;
    margin: 0.2rem;
    background: rgb(77, 125, 173);
    color: white;
    font-weight: 800;
    border-radius: 0.7rem;
}
.heroimage{
   width: 30rem;
    height: 100%;
}
.heroitem h2{
    font-size: 2.5rem;
}
.heroitem p{
    font-size: 1.2rem;
}
.movielist{
    background-color:#5b5e7e;
    margin-top: -3.4rem;
    padding: 0;
}
.info{
    margin: 0;
    padding: 0;
}
.info h2{
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
    color: var(--bgthird);
}
.infocontainer{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    flex-wrap: wrap;
}
.infoitem{
    flex: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 0.2rem;
    max-width: 15rem;
    max-height: 25rem;
    background-color: rgb(150, 149, 135);
    border:3px solid #113f67;
    font-weight: 800;
    font-size: 1.2rem
}
.movieimg{
    width: 100%;
    height: 20rem;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem;
    background: var(--bgsec);
}
.quotetext{
    font-size: 2rem;
    font-style: italic;
    font-weight: 540;
    align-self: flex-end;
    padding: 1rem;
}
.quoteauthor{
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
}
.ctabackground{
    background-color: rgb(224, 225, 226);
    padding:2rem 0;
}
.ctacontainer{
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(74, 136, 236);
    border-radius: 0.5rem;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    padding:1rem;
}
.ctaitem{
    align-self: center;
    color: azure;
}
.cta1{
    font-size: 1.3rem;
    font-weight: 700;

}
.ctabutton{
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid snow;
    background: rgb(74, 136, 200);
    color: snow;
}
footer{
    background: var(--bgmain);
    color: var(--bgthird);
}
.footercontainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 1rem;
}